
h1{
    color: brown;
    text-align: center;
    text-decoration: underline;
}

h2{

    color: green;
    text-decoration: underline;
}

p{
    color: darkorchid;
    text-align: justify;
}
